.ngo_details{
    background-color: antiquewhite;
    margin-bottom: 50px;
    padding: 20px;
}
.ngo_img{
    margin: auto 50px;
    width: 100px;
    height: 200px;
    margin-bottom: 50px;
    @media (max-width: 1300px) {
        width: 300px;
        height: 200px;
       margin-bottom: 45px;
    }
}
